# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
target/
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/desktop.ini
*.class

# Ignore everything in the data directories except .gitkeep
/data/mongodb/*
/data/mysql/*
!/data/mongodb/.gitkeep
!/data/mysql/.gitkeep


# API Key
.env.api
